doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    embed(name='PotterTheme' src='/stylesheets/potter.mp3' loop='true' hidden='true' autostart='true')
    block content