body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
  background-image: url(./library.jpg);
  background-size: cover;
}

h1 {
  color: #7a0000;
  font-family: "Imprint MT Shadow";
}

#title{
  color: #7a0000;
}

#author{
  color: #7a0000;
}

#genre{
  color: #7a0000;
}

#year{
  color: #7a0000;
}

.button{
  font-family: "Imprint MT Shadow";
  color: #7a0000;
}

button.button{
  color: white;
  background:black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Imprint MT Shadow";
}

button.button:hover {
    background-color:black;
    transform: scale(1.10);
    font-family: "Imprint MT Shadow";
}

a {
  color:#7a0000;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
  
    border-radius: 0.25em;
    
    transition: .4s ease-out;
    font-family: "Imprint MT Shadow";
}


input.button{
  color: #7E2E3C;
}
  a:hover {
    color:#7E2E3C;
    transform: rotate(45deg);
    background: #AB8024;
    border: 2px solid rgba(0, 0, 0, 0.603);
    font-family: "Imprint MT Shadow";
  }

a.button, input[type=submit] {
  color: white;
  background:black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Imprint MT Shadow";
}

form a.button, input[type=submit] {
  color: white;
  background:black;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
  font-family: "Imprint MT Shadow";
}

input[type=submit] {
  border: 0;
  background: black;
  font-family: "Imprint MT Shadow";
}

  a.button:hover, input[type=submit]:hover {
    background-color:black;
    transform: scale(1.10);
    font-family: "Imprint MT Shadow";
  }

  a.button:hover{
    background-color:black;
    transform: scale(1.10);
    font-family: "Imprint MT Shadow";
  }
p {
  margin: 20px auto;
  font-family: "Imprint MT Shadow";
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
  font-family: "Imprint MT Shadow";
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
  font-family: "Imprint MT Shadow";
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
  background: gray;
  font-family: "Imprint MT Shadow";
}

tr {
  min-height: 50px;
  font-family: "Imprint MT Shadow";
  background: lightgrey;
  border: 2px solid rgba(0, 0, 0, 0.603);
 
  
}

/* tr:nth-child(2n) {
  background: grey;
  font-family: "Imprint MT Shadow";
} */
tr:nth-child(2n){
  background: lightgrey;
}

td {
  padding: 5px 20px 5px 10px;
  color:#7E2E3C;
  font-family: "Imprint MT Shadow";
  font-weight: bold;
  border: 3px solid rgba(0, 0, 0, 0.603);
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
  font-family: "Imprint MT Shadow";
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
  background-color: lightgrey;
  font-family: "Imprint MT Shadow";
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
  font-family: "Imprint MT Shadow";
}

.error {
  color: #7a0000;
  font-family: "Imprint MT Shadow";
}